.Edit-card {
    max-width: 420px;
    background: #ECDCBF; 
    padding: 30px 40px; 
    margin: 50px auto; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Edit-card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #A31D1D;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #A31D1D;
    text-align: left;
    margin-bottom: 5px;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.input-box input {
    width: 400px;
    height: 30px;
    padding: 10px;
    border: 2px solid #A31D1D;
    border-radius: 25px;
    font-size: 16px;
    color: #5C4033;
    background: #FFF7E6;
    background: transparent;
    outline: none;
    transition: 0.3s;
}

.input-box {
    display: flex;
    flex-direction: column; /* Ensures the label and input are stacked */
    align-items: left; /* Aligns contents (input fields) to the center */
    margin-bottom: 15px; /* Adds spacing between fields */
}

input[type="file"] {
    padding: 8px;
}

.error {
    color:#A31D1D;
}

.error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF;
    color: #A31D1DFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


button[type="submit"]:hover {
    background-color: #d77676;
    transform: translateY(-2px);
}

.list {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF;
    color: #A31D1DFF;
    text-decoration: none;
    border-radius: 3px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}




